/**
 * credentials.scss 
 * 
 * Description:
 *    Style file for Credentials Component.
 *
*/

.add-credential-card {
  width: 400px;
  min-height: 200px;
  padding: 4px;
  background-color: var(--turquoise-blue);
}

.add-credential-card input#credential-title {
  margin: 4px 0;
  width: 250px;
  padding: 4px;
}
