/**
 * credentials.scss 
 * 
 * Description:
 *    Style file for Credentials Component.
 *
*/

.credential-form-section {
  min-height: calc(216px - var(--8x));
  padding: var(--4x) 0;

  .credential-card {
    width: calc(350px - var(--4x));
    min-height: calc(208px - var(--4x));
  }
}

.credential-form-update-section {
  min-height: 100%;

  .credential-card {
    margin: var(--16x) 0;
    width: calc(400px - var(--4x));
    min-height: calc(400px - var(--4x));
  }
}

.credentials-list {
  a {
    text-decoration: none;
  }

  .credential-card {
    margin: var(--4x);
  }

  .credential-card:hover {
    background-color: var(--turquoise-blue);
  }
}

.credential-card {
  width: calc(250px - var(--4x));
  min-height: calc(100px - var(--4x));
  padding: var(--2x);
  border-radius: var(--4x);
  background-color: var(--fluorescent-blue);
}
