/**
 * modal.scss 
 * 
 * Description:
 *    Styles for Modal Component.
 *
*/

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--overlay-shadow);
}

.modal-box {
  position: relative;
  width: 550px;
  height: 550px;
  padding: var(--2x);
  border-radius: var(--4x);
  background-color: var(--background-light-primary);
}

.modal-top {
  width: 100%;
  height: 50px;

  .modal-title {
    width: calc(100% - 50px);
    height: inherit;
    padding: 0 var(--2x);
  }
}

.modal-close {
  width: 50px;
  height: 50px;
}

.modal-body {
  height: calc(100% - 50px);
}
