# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

.eslintcache

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

release/app/dist
release/build
.config/dll

npm-debug.log.*
*.css.d.ts
*.sass.d.ts
*.scss.d.ts
