# Logs
logs
*.log
npm-debug.log.*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release
build

# Dependency directories
node_modules

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Built generated
release/app/dist
release/build
.config/dll

# database
*.sqlite

# VS Code Files
.vscode