/**
 * message.scss 
 * 
 * Description:
 *    Styles for Message Element.
 *
*/

.message-card {
  position: absolute;
  margin: 0;
  top: var(--4x);
  left: 50%;
  min-width: 300px;
  height: 40px;
  padding: var(--4x) var(--8x);
  transform: translate(-50%, 0);
  z-index: 1;
  border-radius: calc(5 * var(--2x)) !important;
}

.message-progress {
  background-color: var(--message-blue) !important;
}

.message-success {
  background-color: var(--message-green) !important;
}

.message-error.low {
  background-color: var(--message-red) !important;
}

.message-error.high {
  background-color: var(--message-high-red) !important;
}
