/**
 * spaces.scss 
 * 
 * Description:
 *    Style file for Spaces Component.
 *
*/

.spaces-body {
  height: 100%;
}

.spaces-content {
  height: 100%;
}

.spaces-content a {
  text-decoration: none;
}

.space-card {
  min-width: 300px;
  min-height: 200px;
  background-color: var(--fluorescent-blue);
}
.space-card:hover {
  background-color: var(--turquoise-blue);
}

.space {
  height: 100%;
}

.space-content {
  width: calc(100%);
}
