/**
 * spaces.scss 
 * 
 * Description:
 *    Style file for Spaces Component.
 *
*/

.spaces {
  width: 100%;
  height: 100%;
  padding-bottom: var(--8x);
  overflow-y: overlay;

  .spaces-greeting {
    margin: 0 var(--8x);
    height: 100px;
  }

  .space-header {
    margin: 0 var(--8x);
    height: 60px;
  }
}

.space-greeting {
  height: 100%;
}

.spaces-list {
  margin-top: var(--4x);
  width: 100%;

  .space-card,
  .space-card-form {
    margin: var(--4x) 0;
  }

  .space-card:nth-child(6n) {
    &:before {
      box-shadow: inset 0 0 150px var(--orange-core);
    }
  }

  .space-card:nth-child(6n + 1) {
    &:before {
      box-shadow: inset 0 0 150px var(--blue-core);
    }
  }

  .space-card:nth-child(6n + 2) {
    &:before {
      box-shadow: inset 0 0 150px var(--green-core);
    }
  }

  .space-card:nth-child(6n + 3) {
    &:before {
      box-shadow: inset 0 0 150px var(--red-core);
    }
  }

  .space-card:nth-child(6n + 4) {
    &:before {
      box-shadow: inset 0 0 150px var(--purple-core);
    }
  }

  .space-card:nth-child(6n + 5) {
    &:before {
      box-shadow: inset 0 0 150px var(--yellow-core);
    }
  }
}

.space-card,
.space-card-form {
  position: relative;
  width: 225px;
  height: 225px;
  border-radius: var(--8x);
  box-shadow: 0 0 var(--2x) var(--shadow-dark-20),
    inset 0 0 0 2px var(--background-light-primary);
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0.25;
    border-radius: var(--8x);
    filter: blur(var(--x));
    transition: all 0.5s;
  }

  &:hover {
    &:before {
      opacity: 0.7;
      transition: all 0.55s;
    }
  }
}

.space-card-form {
  cursor: inherit;

  &::before {
    opacity: 0.8;
    box-shadow: inset 0 0 150px var(--background-light-primary) !important;
    transition: none;
  }

  &:hover {
    &:before {
      opacity: 0.8;
      transition: none;
    }
  }
}
