/**
 * spaces.scss 
 * 
 * Description:
 *    Style file for Spaces Component.
 *
*/

.spaces {
  width: 100%;
  height: 100%;
  overflow-y: overlay;

  .spaces-greeting {
    margin: 0 var(--8x);
    height: 100px;
  }

  .space-header {
    margin: 0 var(--8x);
    height: 60px;

    .card {
      padding: var(--4x);
      cursor: pointer;
    }
  }

  .card:hover {
    box-shadow: 2px 2px 12px 3px var(--card-shadow);
  }
}

.space-greeting {
  height: 100%;
}

.spaces-list {
  margin-top: var(--4x);
  width: 100%;

  a {
    text-decoration: none;
  }

  .space-card {
    margin: var(--4x) 0;
    height: 200px;
  }
}

.space-card {
  width: 250px;
  height: 200px;
}
