/**
 * button.scss 
 * 
 * Description:
 *    Styles for Button Element.
 *
*/

button {
  --height: 40px;
  --width: 160px;
}

.button-element {
  height: var(--height);
  min-width: var(--width);
  border-radius: calc(var(--height) / 2);
  outline: none;
}
