/**
 * input.scss 
 * 
 * Description:
 *    Styles for Input Element.
 *
*/

.input-element {
  --label_width: 100px;
  --height: 32px;

  width: 100%;
  padding: var(--2x);
}

.input-element label {
  width: var(--label_width);
}

.input-element input {
  min-width: calc(100% - var(--label_width));
  height: var(--height);
  padding: var(--2x) var(--8x);
  border: none;
  border-bottom: 1px solid var(--text);
  outline: none;
  background-color: transparent;
}

input:focus {
  border-radius: var(--2x);
  background-color: var(--focus-shadow);
}
