/**
 * form.scss 
 * 
 * Description:
 *    Styles for Form Element.
 *
*/

form {
  width: fit-content;
  height: inherit;
}

.auth-form,
.space-card form {
  background-color: var(--fluorescent-blue);
}
