/**
 * profile.scss 
 * 
 * Description:
 *    Styles for Profile Section.
 *
*/

.profile-card {
  width: 100%;
  height: 100%;
}

.profile-heading {
  margin: var(--4x);
  width: calc(100% - var(--8x));
  height: 100px;
}

.profile-details {
  margin: var(--2x) var(--4x);
  width: calc(100% - var(--8x));

  .detail-label {
    width: 200px;
  }

  .detail-value {
    width: calc(100% - 200px);
  }
}
