/**
 * sidebar.scss 
 * 
 * Description:
 *    Style file for Sidebar Component.
 *
*/

.sidebar {
  margin: var(--2x);
  min-width: calc(var(--sidebar-width) - var(--4x));
  height: calc(100% - var(--4x));

  .links-section {
    height: 100%;
    padding: var(--x);
    padding-bottom: var(--8x);
  }
}

.main-secondary-links-section {
  width: 100%;
  height: 60%;
}

.main-links,
.secondary-links,
.other-links {
  width: 100%;
  height: 30%;
}

.secondary-links {
  height: calc(70% - var(--2x));
}

.other-links {
  height: auto;
}

.sidebar .links {
  margin: var(--x) var(--2x);
  width: calc(100% - var(--4x));
  height: calc(35px - var(--2x));
  padding: var(--2x);
  border-radius: var(--2x);
  text-decoration: none;
  color: var(--text);
}

.sidebar .links:hover {
  box-shadow: inset 0 0 20px var(--card-shadow);
}
