/**
 * form.scss 
 * 
 * Description:
 *    Styles for Form Element.
 *
*/

form {
  width: 100%;

  .form-inputs {
    width: 100%;
  }

  .form-button {
    width: 100%;
  }
}

.auth-card form {
  height: 100%;

  .form-inputs {
    height: 80%;
  }

  .form-button {
    height: 20%;
  }
}

.space-card form {
  height: 80%;

  .form-inputs,
  .form-button {
    height: 50%;
  }
}
