/**
 * form.scss 
 * 
 * Description:
 *    Styles for Form Element.
 *
*/

form {
  width: 100%;
  height: 100%;

  .form-inputs {
    width: 100%;
  }

  .form-button {
    width: 100%;
  }
}

.auth-card form {
  .form-inputs {
    height: 80%;
  }

  .form-button {
    height: 20%;
  }
}

.space-card form {
  height: 80%;

  .form-inputs,
  .form-button {
    height: 50%;
  }
}

form#note-form-add,
form#note-form-update {
  width: 100%;
  height: calc(100% - 50px);

  .form-inputs {
    height: 85%;
  }

  .form-button {
    height: 15%;
  }
}

.credential-card form {
  .form-inputs {
    min-height: 150px;
  }

  .form-dynamic-inputs,
  .form-button {
    height: 50px;
  }
}

form#note-form-update {
  .form-inputs {
    height: 75%;
  }

  .form-button {
    height: 20%;
  }

  sub {
    margin-left: var(--2x);
    margin-top: var(--2x);
  }
}

form#credential-form-update {
  min-height: inherit;

  .form-inputs {
    min-height: 150px;
    flex-grow: 1;

    .dynamic-section {
      width: 100%;
    }
  }

  .form-button {
    height: 50px;
  }

  sub {
    margin-left: var(--2x);
    margin-top: var(--2x);
  }
}
