/*-----     -----     -----     -----     -----     -----     -----     ----- 
style.scss 

Description: Sample scss file.

Version  : 0.0.1
Date     : 10-10-2021 
Author   : Vedant Wakalkar 
Email    : developer.karna98@gmail.com 
-----     -----     -----     -----     -----     -----     -----     -----*/

h1 {
  color: orange;
}
