/**
 * style.scss 
 * 
 * Description:
 *    Base style file.
 *
*/

/*-----     -----     ----- 
Remove padding and margin
-----     -----     -----*/
html,
body {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

/*-----     -----     -----
Headers
-----     -----     -----*/

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.4em;
}

p {
  font-size: 1.2em;
}

/*-----     -----     -----
Colors
-----     -----     -----*/

:root {
  --fluorescent-blue: #15f4ee;
  --turquoise-blue: #08e8de;
  --black: #000000;
  --white: #ffffff;
}

/*-----     -----     -----
Flex
-----     -----     -----*/
.d-flex {
  display: flex;
}

.flex-row {
  flex-flow: row;
}

.flex-column {
  flex-flow: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.d-none {
  display: none;
  visibility: hidden;
}

.visibility-hidden {
  visibility: hidden;
}

.text-align-center {
  text-align: center;
}

/*-----     -----     -----
Border
-----     -----     -----*/

.border--rounded {
  border-radius: 50%;
}

.border--x {
  border-radius: 6px;
}

.border--2x {
  border-radius: 12px;
}

.border--4x {
  border-radius: 18px;
}

/*-----
Icon
-----*/

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

/*-----     -----     -----
Body
-----     -----     -----*/

body {
  --navbar-height: 50px;
  --sidebar-width: 200px;

  // Basic Standard Pixels.
  --x: 2px;
  --2x: 4px;
  --4x: 8px;
  --8x: 16px;
  --16x: 32px;
}

main {
  position: absolute;
  margin: var(--2x);
  width: calc(100% - var(--4x));
  height: calc(100% - var(--4x));
  overflow-y: auto;
}
