/**
 * textarea.scss 
 * 
 * Description:
 *    Styles for TextArea Input Element.
 *
*/

.textarea-element {
  --label_width: 100px;

  width: 100%;
  height: 100%;
}

.textarea-element label {
  width: var(--label_width);
}

.textarea-element textarea {
  width: 100%;
  height: 100%;
  padding: var(--4x);
  resize: none;
  outline: none;
  border: none;
  background-color: transparent;
}

textarea:focus {
  border-radius: var(--2x);
  background-color: var(--focus-shadow);
}

textarea.textarea-readonly {
  background: none;
  overflow: hidden;
  cursor: pointer;
}
