/**
 * textarea.scss 
 * 
 * Description:
 *    Styles for TextArea Input Element.
 *
*/

.element-textarea {
  --label_width: 100px;
  width: calc(100% - var(--2x));
  height: calc(100% - var(--2x));
  padding: var(--x);
}

.element-textarea label {
  min-width: var(--label_width);
}

.element-textarea textarea {
  width: calc(100% - var(--4x));
  height: calc(100% - var(--4x));
  padding: var(--2x);
  resize: none;
  outline: none;
  border: none;
  border-radius: var(--2x);
}

textarea.textarea-readonly {
  background: none;
  overflow: hidden;
  cursor: pointer;
}
